<% include partials/header %>

<h1> Landing Page!!!</h1>
<h2> Welcome to the Scheduling App!</h2>

<p> What's the occassion? </p>
<button> Food </button>
<button> Movie </button>
<button> Travel </button>
<br>
 <a href="/food"> View all the restaurants</a>
 <br>
 <a href="/movies"> View all the movies</a>
 <br>
 <a href="/travel"> View all the travel spots</a>
<br>
<a href="/friends"> Invite your friends </a>
<br>
<br>
<br>
<br>
<br>
<% include partials/footer %>